<h1>My Characters's</h1>

<div class="alert alert-warning" *ngIf="message">{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">Id</th>
        <th style="width: 10%">Name</th>
        <th style="width: 10%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        
      </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-success" (click)="createCharacter()">Add</button>
</div>